# Series (advanced topic)

## 1. 사용자 정의연산 (map, apply, aggregate)

* map: Perform element-wise operations. (Only available for Series)
* apply: Apply a function row-/column-wise. (For more complex operations)
* aggregate: Only perform aggregating type operations.

## 2. Map (one to one)
categorical 데이터를 numerical data로 매핑할때 주로 사용됨

In [2]:
import pandas as pd

In [20]:
x=pd.Series(['male','male','female','female','male'])
x

0      male
1      male
2    female
3    female
4      male
dtype: object

In [21]:
x.map({'male':0,'female':1})

0    0
1    0
2    1
3    1
4    0
dtype: int64

## 3. Apply (one to one)

사용자 정의함수를 시리즈의 각각의 값에 적용할때 사용

In [24]:
x=pd.Series([4,2,6,7,10])
x

0     4
1     2
2     6
3     7
4    10
dtype: int64

In [25]:
def replace_five(my_series):
    result=[]
    for i in my_series:        
        if i>5:
            result.append(5)
        else:
            result.append(i)
    return pd.Series(result)

replace_five(x)

0    4
1    2
2    5
3    5
4    5
dtype: int64

In [26]:
def replace_five(single_value):
    if single_value>5:
        return 5
    return single_value

print(replace_five(10))
print(replace_five(1))

5
1

In [27]:
x.apply(replace_five)

0    4
1    2
2    5
3    5
4    5
dtype: int64

In [33]:
# 인자넘기기

In [31]:
def replace_five(single_value, th):
    if single_value>th:
        return th
    return single_value

print(replace_five(10,3))
print(replace_five(1,3))

3
1

In [32]:
x.apply(replace_five,th=3)

0    3
1    2
2    3
3    3
4    3
dtype: int64

In [29]:
f = lambda x: 5 if x>5 else x

In [30]:
x.apply(f)

0    4
1    2
2    5
3    5
4    5
dtype: int64

In [34]:
# 연습문제: map을 사용해 양수면 True 음수면 False을 반환하도록 하시오
# 연습문제: apply을 사용해 ['cat','chicken','elephant'] -> [3,7,8]
# 연습문제: apply 사용
# ['jihwna lee', 'james bonds', 'kevin murphy']
# x.apply(myfunc,pos=0) -> [jihwan,'james','kevin']
# x.apply(myfunc,pos=1) -> ['Lee','Bonds','Murhpy']

## 4. aggregation (many to one)

In [11]:
x=pd.Series([4,2,6,7,10])
x

0     4
1     2
2     6
3     7
4    10
dtype: int64

In [13]:
# if the function is many to one
def standardize(my_series):
    avg=my_series.mean()
    std=my_series.std()
    return avg/std

standardize(x)

1.9122033728477823

In [15]:
x.agg(standardize)

1.9122033728477823

In [16]:
x.agg(lambda k: k.mean()/k.std())

1.9122033728477823

In [17]:
# 최대값에서 최소값을 빼는 함수를 agg를 통해 계산해보시오.

## 5. aggregate(many to many)

In [42]:
# if the function is many to one
def standardize(my_series):
    avg=my_series.mean()
    std=my_series.std()    
    return (my_series-avg)/std

standardize(x)

0   -0.593442
1   -1.252823
2    0.065938
3    0.395628
4    1.384699
dtype: float64

In [43]:
x.agg(standardize)

0   -0.593442
1   -1.252823
2    0.065938
3    0.395628
4    1.384699
dtype: float64

In [44]:
x.agg(lambda k: (k-k.mean())/k.std())

0   -0.593442
1   -1.252823
2    0.065938
3    0.395628
4    1.384699
dtype: float64

In [18]:
# scaler를 계산해보시오